<<<<<<< HEAD
<p><%= todo_item.content %></p>
<%= link_to "Delete", todo_list_todo_item_path(@todo_list,todo_item.id), method: :delete , data: {confirm: "Are you sure?"} %>
=======
<p><%= todo_item.content %></p>	
>>>>>>> f4b5facde4a1be698cca8ec829eb1ac67f9b7825
